silent! set ideajoin

set background=dark
set number relativenumber
set noshowmode
set laststatus=2
set hidden

set visualbell
set noerrorbells

set autoindent
set tabstop=4
set softtabstop=4
set shiftwidth=4
set expandtab

set ignorecase
set smartcase

set nocompatible
filetype plugin indent on
syntax on
set cul

set encoding=utf-8
set langmenu=en_US.UTF-8
language en_US.UTF-8

set termguicolors

nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>
nnoremap gy :action GotoTypeDeclaration<CR>

inoremap jk <esc>
inoremap kj <esc>
