theme = "darcula-jesus"

[editor]
line-number = "absolute"
auto-pairs = true
mouse = true
cursorline = true
idle-timeout = 50
bufferline = "never"
gutters = ["diagnostics", "spacer", "diff"]
true-color = true
text-width = 110
continue-comments = false

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.indent-guides]
render = true
skip-levels = 1

[editor.file-picker]
hidden = false

[editor.smart-tab]
enable = true
supersede-menu = false

[editor.lsp]
display-messages = true
display-progress-messages = true

# Key remaps
[keys.insert]
j = { k = "normal_mode" }
k = { j = "normal_mode" }

[keys.select]
C-z = "no_op" # Dangerous to have C-z in nushell!

[keys.normal]
C-z = "no_op" # Dangerous to have C-z in nushell!
C-r = ":reflow"

W = "move_next_sub_word_start"
B = "move_prev_sub_word_start"

[keys.normal.space]
F = "file_picker_in_current_buffer_directory"

# Go to in next split
[keys.normal."g"]
D = ["goto_definition", "rotate_view"]
Y = ["goto_type_definition", "rotate_view"]
I = ["goto_implementation", "rotate_view"]
R = ["goto_reference", "rotate_view"]

# Leader key
[keys.normal."\\"]
i = ":toggle-option lsp.display-inlay-hints"
w = ":toggle-option soft-wrap.enable"

r = ":reload-all"
l = ":lsp-restart"

# Line number settings
[keys.normal."\\".n]
r = ":toggle line-number absolute relative"
n = ":set gutters.layout [\"diagnostics\",\"spacer\",\"diff\"]"
m = ":set gutters.layout [\"diagnostics\",\"spacer\",\"line-numbers\",\"spacer\",\"diff\"]"
