theme = "darcula-solid"

[editor]
line-number = "relative"
auto-pairs = true
mouse = true
cursorline = true
idle-timeout = 50
bufferline = "never"
gutters = ["diagnostics", "spacer", "line-numbers", "spacer", "diff"]
true-color = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.indent-guides]
render = true
skip-levels = 1

[editor.file-picker]
hidden = false

# Leader key
[keys.normal."\\"]
i = ":toggle-option lsp.display-inlay-hints"
l = ":lsp-restart"
r = ":reload-all"
