[[language]]
name = "rust"
auto-format = true

[language-server.rust-analyzer]
command = "rustup"
args = ["run", "stable", "rust-analyzer"]

[language-server.rust-analyzer.config.checkOnSave]
command = "check"


[[language]]
name = "c-sharp"
roots = ["sln", "csproj"]
language-servers = ["csharp-ls"]

# [language-server.omnisharp]
# command = "omnisharp"
# args = ["-lsp"]
# timeout = 300

[language-server.csharp-ls]
command = "csharp-ls"
